.page__container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url(georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
}

@media screen and (max-width: 925px) {
  .page__container {
    max-width: 88vw;
  }
}
