.searchform {
  display: inline-flex;
  justify-content: center;
  height: 64px;
  margin: 44px 0 80px;
}

.searchform__input {
  border-radius: 100px;
  width: 500px;
  border: transparent;
  padding-left: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.searchform__submit {
  color: white;
  border-radius: 100px;
  background-color: #2f71e5;
  width: 168px;
  margin-left: -68px;
  border: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 925px) {
  .searchform {
    height: 56px;
    margin: 24px 0 48px;
  }

  .searchform__input {
    width: 360px;
    padding-left: 24px;
  }

  .searchform__submit {
    color: white;
    border-radius: 100px;
    background-color: #2f71e5;
    width: 160px;
    margin-left: -68px;
  }
}

@media screen and (max-width: 626px) {
  .searchform {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
  }

  .searchform__input {
    margin: 0 0 16px;
    height: 56px;
    width: 272px;
  }

  .searchform__submit {
    margin: 16px 0 32px;
    height: 56px;
    width: 288px;
  }
}
