.header {
  color: white;
  display: flex;
  flex-direction: column;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.header__main {
  align-self: center;
}

.header__title {
  max-width: 608px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 80px 0 16px;
}

.header__subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 16px 0 44px;
}
