.footer {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-around;
}

.footer__copyright {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

.footer__links {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
}

.footer__logo {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 925px) {
  .footer {
    height: 64px;
  }

  .footer__links {
    justify-content: space-between;
    width: 300px;
  }
}

@media screen and (max-width: 626px) {
  .footer {
    height: 176px;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__links {
    justify-content: space-between;
    width: 300px;
  }
}
